<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>선호도 조사 시스템</h1>
    <hr>
    이름 : <%=name%>
    계절 : <%=season%>

    <a href="http://127.0.0.1:3001/ex02">
        <button>세션 삭제</button>
    </a>
</body>
</html>