<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        *{
            font-size: 40px;
        }
    </style>
    <h1>랜더링 성공</h1>
    <%
        //nodejs 코드를 작성하는 영역
        console.log("라우터에서 보내는 name1값 : " + name1);
    %>

    라우터에서 보내는 name1값 : <%=name1%><br>

    라우터에서 보내는 name2값 : <%=name2%>


    <script>
        console.log("라우터에서 보내는 name값 : " + name);
        //자바 스크립트 코드를 작성하는 영역
    </script>

</body>
</html>